main {
  width: 1100px;
  margin: 20px auto;
}

h3,
h4 {
  font-weight: 800;
  margin: 0;
}

.exercise-header {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}

.exercise-header-title {
  text-align: center;
}

.exercise-header input[type="text"] {
  width: 350px;
  height: 30px;
  font-size: 14px;

  border: none;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.exercise-list-header {
  display: flex;
  justify-content: space-between;
}

/* 2. 검색창 부분 */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-box {
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  margin: 10px;
  transition: border-color 0.2s;
}

/* 안에 있는 input이 focus되면 div에도 효과 적용 */
.search-box:focus-within {
  box-shadow: 0 0 20px #444444;
}

.search-box input[type="text"] {
  width: 500px;
  border: none;
  outline: none;
}

.search-box input[type="submit"] {
  border-radius: 20px;
  border-color: #bebebe;
}

/* 검색키워드 */
.search-keyword {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.search-keyword input[type="radio"] {
  display: none;
}

.search-keyword label {
  padding: 6px 12px;
  border: 1px solid #bebebe;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  transition: all 0.2s;
}

.search-keyword label:hover {
  background-color: #bebebe;
}

/* 선택된 상태 (radio 체크됨) */
.search-keyword input[type="radio"]:checked + * {
  background-color: #bebebe;
  color: #000000;
  border-color: #bebebe;
}

.inner-top {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 30px;
}

.inner-top img {
  width: 32px;
  height: 32px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50%;
}
.inner-top-body {
  display: flex;
  flex-direction: column;
}

.exercise-ai-body-inner input {
  width: 100%;
  margin-top: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: 800;
}

.col img {
  overflow: hidden;
}

.col img:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
